.color-rec {
  width: 500px;
  height: 30px;
  border: none;
  margin-right: $s-size;
}

.color-circle {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 15px;
  margin-right: $m-size;
}

.color-circle-small {
  @extend .color-circle;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin-right: 0.6rem;
}
