.header {
  background: $dark-blue;
}

.header__title {
  color: white;
  text-decoration: none; //remove the default underline of the link
  h1 {
    margin: 0;
  }
}

.head__content {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: $s-size 0;
}
