.text-input {
  border: 1px solid #cacccd;
  height: 50px;
  padding: $s-size;
  @media (min-width: $desktop-breakpoint) {
    margin-bottom: $l-size;
  }
}

.select {
  @extend .text-input;
}

.select-column {
  border: 1px solid #cacccd;
  height: 50px;
  padding: $s-size;
  margin-right: $m-size;
}

.text-area {
  @extend .text-input;
  height: 10rem;
}
